body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 20px; 
  padding: 10px;
}

.header {
  display: flex;
  align-items: center;
  background-color: navy;
  padding: 30px;
  justify-content: space-evenly;
  ;
}

.header a {
  color: aliceblue;
  text-decoration: none;
}

p { 
  font-size: 14px;
  padding: 10px; 
}

@media (min-width: 600px) {
  h1 { font-size: 28px; }
  p { font-size: 18px; }
}

@media (min-width: 992px) {
  h1 { font-size: 36px; }
  p { font-size: 20px; }
}
